<!-- Form box start -->
<%= form_with(model: @box, local: true) do |f| %>
<!-- Form box end -->

  <!-- Label and input for box_name start -->
  <div class="form-group">
    <%= f.label :box_name %>

    <!-- Input for box_name start -->
    <%= f.text_field :box_name, class: "form-control" %>
    <!-- Input for box_name end -->
  </div>
  <!-- Label and input for box_name end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <%= f.hidden_field :category_id, value: @category.id %>
  <!-- Input for category_id end -->
  <!-- Label and input for category_id end -->

  <%= f.submit "Create box", class: "btn btn-block btn-outline-secondary" %>
<% end %>
